<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>&lt;key&gt;LSUIElement&lt;/key&gt;
&lt;false/&gt;
&lt;key&gt;NSUserActivity&lt;/key&gt;
&lt;true/&gt;</string>
</dict>
</plist>
